<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.dsoles.outsystems.plugin.background" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>BackgroundThreadPlugin</name>
  <description>Background Work Android/IOs</description>
  <author>OutSystems Inc</author>
  <js-module name="BackgroundThreadPlugin" src="www/BackgroundThreadPlugin.js">
    <clobbers target="cordova.plugins.BackgroundThreadPlugin"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="BackgroundThreadPlugin">
        <param name="android-package" value="com.dsoles.outsystems.plugin.background.BackgroundThreadPlugin"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/com/dsoles/outsystems/plugin/background/BackgroundThreadPlugin.java" target-dir="src/com/dsoles/outsystems/plugin/background"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="BackgroundThreadPlugin">
        <param name="ios-package" value="BackgroundThreadPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/ios/BackgroundThreadPlugin.m"/>
    <header-file src="src/ios/BackgroundThreadPlugin.h"/>
  </platform>
</plugin>